.Pagination {
  @apply flex justify-center gap-2 my-4;
  .Page {
    @apply inline-flex w-8 h-8 justify-center items-center rounded-sm font-bold drop-shadow-sm;
    background-color: var(--article);
    &:hover, &.Active {
      @apply text-white;
      background-color: var(--link);
      text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    }
  }
  .PageSeparator {
    @apply inline-flex w-8 h-8 justify-center items-center;
  }
}