.PageArticle {
  @apply shadow-xl ring-1 rounded-lg ring-gray-900/5 overflow-hidden;
  @apply bg-[color:var(--article)];
  @media (max-width: 960px) {
    .PageHeader + & {
      @apply mt-20;
    }
  }
  section {
    @apply p-5 border-solid border-b-black/25 border-b-[1px] text-[color:var(--text)];
    &:last-child {
      @apply border-b-0;
    }
    h2 {
      @apply text-xl font-semibold mb-4 text-[color:var(--text)];
      font-family: "Montserrat", sans-serif;
      @media (max-width: 576px) {
        @apply text-center font-semibold mb-2;
      }
    }
    figure {
      @apply font-light mb-2;
      strong {
        @apply font-medium;
      }
      div > div:last-child {
        @apply text-right;
      }
      @media (max-width: 576px) {
        @apply text-center;
        div > div:last-child {
          @apply text-center;
        }
      }
    }
    .SectionItems {
      @apply grid grid-cols-2 gap-y-5 gap-x-2;
      @media (max-width: 991px) {
        @apply grid-cols-1;
      }
      .SectionItem {
        @apply text-[color:var(--text)] min-h-[60px] overflow-hidden;
        @media (max-width: 991px) {
          @apply pb-5;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          &:last-child {
            @apply pb-0 border-0;
          }
        }
        .SectionItem__Image {
          @apply float-left w-14 h-14 grid justify-center items-center bg-white rounded-sm relative;
          img {
            @apply max-w-[56px] max-h-[56px] rounded-sm;
          }
        }
        .SectionItem__Content {
          @apply ml-20;
          h3 {
            @apply text-base font-medium m-0;
            font-family: "Montserrat", sans-serif;
          }
          h4 {
            @apply text-sm font-light mb-1;
            a {
              @apply font-normal;
            }
          }
          h5 {
            @apply text-sm font-light m-0;
            a {
              @apply font-normal;
            }
          }
        }
      }
    }
  }
}