.BlogDirectory {
  @apply flex flex-wrap w-full;
  .BlogPost {
    @apply basis-full md:basis-6/12 xl:basis-4/12 p-3;
    .BlogPost__Container {
      @apply flex h-full shadow-lg ring-1 rounded-lg ring-gray-900/5 overflow-hidden;
      @apply bg-[color:var(--article)] transition-all duration-500 ease-linear;
      @apply [--tw-shadow-color:var(--shadowColor)] [--tw-shadow:var(--tw-shadow-colored)];
      &:hover {
        @apply shadow-xl [--tw-shadow-color:var(--shadowHover)];
      }
      .BlogPost__Image {
        @apply relative bg-clip-content bg-cover bg-center h-full min-w-[128px] max-w-[30%] text-white bg-gray-500/60;
      }
      @media (max-width: 430px) {
        @apply flex-col;
        .BlogPost__Image {
          @apply min-w-full max-w-full h-[40vw];
        }
      }
      &.Focus {
        @apply relative z-0;
        &::before {
          content: "";
          @apply absolute -left-1/2 -top-1/2 -z-20 w-[200%] h-[200%] animate-spin-medium;
          @apply left-[calc(50%-max(60vw,50vh))] top-[calc(50%-max(60vw,50vh))] w-[max(120vw,100vh)] h-[max(120vw,100vh)];
          @apply bg-[color:rgb(var(--background))] bg-no-repeat;
          background-image: conic-gradient(
            var(--article) 0deg, var(--link) 90deg,
            var(--article) 90deg, var(--article) 180deg,
            var(--article) 180deg, var(--link) 270deg,
            var(--article) 270deg, var(--article) 360deg
          );
        }
        &::after {
          content: "";
          @apply absolute -z-10 inset-1 rounded-[5px] bg-[color:var(--article)];
        }
      }
    }
  }
  @media (max-width: 767px) {
    @apply -m-3;
    .BlogPost {
      @apply p-1;
    }
  }
}

.BlogArticle {
  .BlogContent {
    @apply mb-4;
    h1,
    h2,
    h3,
    h4 {
      @apply font-semibold mb-2 mt-4 relative;
      span {
        @apply absolute -top-40;
      }
    }
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-lg;
    }
    h4 {
      @apply text-base;
    }
    p {
      @apply mb-3;
      code {
        @apply px-1 outline outline-1 rounded-sm bg-white/10;
      }
    }
    pre {
      @apply text-sm mb-4 md:p-4 bg-gray-800 rounded-lg overflow-x-auto;

    }
    .BlogFigure {
      @apply flex flex-col mb-6 mt-6;
      .BlogImage {
        @apply relative flex justify-center w-full max-w-[800px] mb-2 mx-auto aspect-video;
        img {
          @apply object-cover md:object-contain #{!important};
        }
      }
      figcaption {
        @apply block text-white/70 text-sm text-center;
      }
    }
  }
}

.CodePenWrapper {
  @apply hidden lg:block;
}
.CodePenFallback {
  @apply block lg:hidden;
}
.CodePen {
  @apply hidden lg:block;
}
